<div class="conteudo-pai">
    <div class="textos-chamada">
        <h1>{{ saudacao }}, {{ usuarioNome }}!</h1>
        <h2>Seja bem-vindo ao Gerencial <span>Eurofarma</span>.</h2>
    </div>

    <div class="dashboard">
        <div class="panel container">
            <div class="chart-container">
                <canvas id="ratingsChart"></canvas>
            </div>
            <div class="total-users">
                <h2>Total de Usuários</h2>
                <p class="p-usuarios">{{ totalUsers }}</p>
            </div>
            <div class="chart-container">
                <canvas id="rolesChart"></canvas>
            </div>
        </div>
    </div>
</div>
