<div class="conteudo-pai">
    <div class="textos-chamada">
        <h1>{{ saudacao }}, {{ usuarioNome }}!</h1>
        <h2>Seja bem-vindo ao Gerencial <span>Eurofarma</span>.</h2>
    </div>

    <div class="dashboard">
        <div class="panel container">
            <div class="chart-container">
                <h2>Avaliações</h2>
                <canvas id="ratingsChart"></canvas>
                <button class="btn-ler text-dark" (click)="loadFeedbacks()">Ler Todas</button>
            </div>
            <div class="total-users">
                <h2>Total de Usuários</h2>
                <p class="p-usuarios">{{ totalUsers }}</p>
            </div>
            <div class="chart-container">
              <h2>Cargos</h2>
                <canvas id="rolesChart"></canvas>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="showModal" (click)="fecharModal($event)">
    <div class="modal-content">
      <h2>Avaliações</h2>
      <ul>
        <li *ngFor="let feedback of feedbacks">
          <div class="feedback-item">
            <div class="stars">
              <span *ngFor="let star of [].constructor(feedback.rating); let i = index" class="star filled">★</span>
              <span *ngFor="let star of [].constructor(5 - feedback.rating); let i = index" class="star">★</span>
            </div>
            <p>{{ feedback.comment }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

    <!-- Inputs de Pesquisa e Tabela de Usuários -->
<div class="search-container container">
  <input type="text" placeholder="Nome" class="search-input" [(ngModel)]="searchName" />
  <select class="search-select" [(ngModel)]="searchRole">
      <option value="">Selecionar Role</option>
      <option value="admin">Admin</option>
      <option value="ti">Ti</option>
      <option value="financeiro">Financeiro</option>
      <option value="gerente">Gerente</option>
  </select>
  <input type="email" placeholder="E-mail" class="search-input" [(ngModel)]="searchEmail" />
  <input type="number" placeholder="ID" class="search-input" [(ngModel)]="searchId" />
  <button class="search-button" (click)="searchUsers()">Pesquisar</button>
</div>

<!-- Tabela de Usuários -->
<div class="user-table-container container">
  <table class="user-table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Role</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of displayedUsers">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
          </tr>
      </tbody>
  </table>
</div>

<div class="btn-pagina">
  <button class="btn-navegar" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <span class="text-dark">Página {{ currentPage }} de {{ totalPages }}</span>
  <button class="btn-navegar" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Próximo</button>
</div>

</div>
