<div class="conteudo-pai">
    <div class="textos-chamada">
        <h1>{{ saudacao }}, {{ usuarioNome }}!</h1>
        <h2>Seja bem-vindo ao Gerencial <span>Eurofarma</span>.</h2>
    </div>

    <div class="dashboard">
        <div class="panel container">
            <div class="chart-container">
                <h2>Avaliações</h2>
                <canvas id="ratingsChart"></canvas>
            </div>
            <div class="total-users">
                <h2>Total de Usuários</h2>
                <p class="p-usuarios">{{ totalUsers }}</p>
            </div>
            <div class="chart-container">
              <h2>Cargos</h2>
                <canvas id="rolesChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Inputs de Pesquisa e Tabela de Usuários -->
    <div class="search-container container">
        <input type="text" placeholder="Nome" class="search-input" />
        <select class="search-select">
            <option value="">Selecionar Role</option>
            <option value="admin">Admin</option>
            <option value="ti">Ti</option>
            <option value="financeiro">Financeiro</option>
            <option value="gerente">Gerente</option>
        </select>
        <input type="email" placeholder="E-mail" class="search-input" />
        <input type="number" placeholder="ID" class="search-input" />
        <button class="search-button">Pesquisar</button>
    </div>

    <!-- Tabela de Usuários -->
    <div class="user-table-container container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <!-- Linhas da tabela serão preenchidas aqui -->
            </tbody>
        </table>
    </div>
</div>
