.container {
  padding: 20px;
  font-family: 'Montserrat', sans-serif !important;
}

.conteudo-pai{
  padding-top: 120px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.conteudo-pai::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Ajuste a altura do arco conforme necessário */
  background-color: #00488e;
  border-radius: 50% 50% 0 0; /* Cria o arco voltado para cima */
  z-index: -1; /* Coloca o arco atrás do conteúdo */
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  color: #00488e;
}

h2, h3{
  font-size: 23px;
  padding-bottom: 10px;
}

.add-reminder {
  margin-bottom: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column; /* Mantém os elementos do formulário em coluna */
  width: 100%;
}

.card-container {
  display: flex; /* Exibe os cartões lado a lado */
  flex-wrap: wrap; /* Permite que os cartões se ajustem ao tamanho da tela */
  gap: 20px; /* Espaçamento entre os cartões */
  justify-content: space-between; /* Adiciona espaço entre os cards */
}

.card1 {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 98%; /* Ocupa aproximadamente 50% da largura menos o gap */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.card {
  border: none;
  padding: 20px;
  width: 100%; /* Ocupa aproximadamente 50% da largura menos o gap */
  box-sizing: border-box;
  flex: 1; /* Faz os cards ocuparem o mesmo espaço na linha */
  background-color: #fff;
}

.card input,
.card textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.card button {
  margin-top: 10px;
}

.reminder-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.reminder-item {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  width: 48%; /* Ocupa aproximadamente 50% da largura menos o gap */
  box-sizing: border-box;
  background-color: #fff;
}

.btn-cima {
  margin-top: auto !important;
}

.reminder-item h3 {
  margin: 0 0 10px 0;
}

textarea,
input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: #5a5a5a;
}

button {
  background-color: #00448e;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.reminder-item i {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .reminder-list {
    flex-direction: column; /* Alinha os cards em uma coluna */
  }

  .reminder-item {
    width: 100%; /* Faz os cards ocuparem 100% da largura */
  }

  .card-container {
    flex-direction: column; /* Alinha os cards em uma coluna no formulário */
  }
  .card {
    width: 100%; /* Faz o card ocupar 100% da largura */
  }

  .btn-lembrete{
    width: 100%;
  }

  h1{
    font-size: 22px;
  }
}

