<div class="conteudo-pai">
  <div class="container">
    <div class="textos-chamada">
      <h1>Olá, {{ usuarioNome }}!</h1>
      <h2>Seja bem-vindo ao Onboard <span>Eurofarma</span>.</h2>
    </div>

    <div class="cards">
      <div class="card">
      <h1><i class="fa-solid fa-book"></i></h1>
        <h2>Conformidade</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, autem mollitia. Inventore atque laboriosam, animi expedita dolor nam aut accusamus.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-lightbulb"></i></h1>
        <h2>Clarificação</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, autem mollitia. Inventore atque laboriosam, animi expedita dolor nam aut accusamus.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-user-group"></i></h1>
        <h2>Cultura</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, autem mollitia. Inventore atque laboriosam, animi expedita dolor nam aut accusamus.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-handshake"></i></h1>
        <h2>Conexão</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, autem mollitia. Inventore atque laboriosam, animi expedita dolor nam aut accusamus.</p>
      </div>
    </div>
  </div>
</div>
