<div class="conteudo-pai">
  <div class="container">
    <div class="textos-chamada">
      <h1>{{ saudacao }}, {{ usuarioNome }}!</h1>
      <h2>Seja bem-vindo ao Onboard <span>Eurofarma</span>.</h2>
    </div>

    <div class="cards">
      <div class="card" *ngFor="let card of cards" (click)="abrirModal(card)">
        <h1><i [class]="card.icon"></i></h1>
        <h2>{{ card.title }}</h2>
        <p>{{ card.description }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="modalAberto" (click)="fecharModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-text">
      <h2>{{ cardAtual.title }}</h2>
      <p>{{ cardAtual.modalText }}</p>
    </div>

    <div class="modal-image">
      <img [src]="cardAtual.modalImage" alt="{{ cardAtual.title }}">
    </div>
    
  </div>
</div>

<div class="overlay" *ngIf="showFeedbackPopup"></div>
<div *ngIf="showFeedbackPopup" class="feedback-popup">
  <h2>Avalie sua experiência</h2>
  <label>Quantas estrelas você nos dá? </label>
  <div class="stars">
    <span *ngFor="let star of [1,2,3,4,5]" 
          (click)="setRating(star)" 
          [ngClass]="{'selected': star <= selectedRating}">
      ★
    </span>
  </div>
    <textarea [(ngModel)]="comment" placeholder="Deixe seu comentário" required></textarea>
    <div class="button-container">
      <button id="btn-nao" (click)="declineFeedback()">Não, obrigado</button>
      <button type="submit" (click)="submitFeedback(selectedRating, comment)">Enviar Avaliação</button>
    </div>
</div>

<!-- Popup de Agradecimento -->
<div class="thank-you-popup" *ngIf="showThankYouPopup">
  <span class="alert-icon">✅</span>
    <span class="text-dark">  Obrigado por avaliar!</span>
</div>

