<div class="conteudo-pai">
  <div class="container">
    <div class="textos-chamada">
      <h1>{{ saudacao }}, {{ usuarioNome }}!</h1>
      <h2>Seja bem-vindo ao Onboard <span>Eurofarma</span>.</h2>
    </div>

    <div class="cards">
      <div class="card">
      <h1><i class="fa-solid fa-book"></i></h1>
        <h2>Conformidade</h2>
        <p>Nosso compromisso com a conformidade é essencial para manter a integridade e a confiança de nossos clientes e parceiros. Garantimos que todas as nossas operações estejam em conformidade com as leis e regulamentos.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-lightbulb"></i></h1>
        <h2>Clarificação</h2>
        <p>A comunicação clara é fundamental para o sucesso de nossa equipe. Priorizamos a clarificação de informações e expectativas, garantindo que todos estejam alinhados e bem-informados.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-user-group"></i></h1>
        <h2>Cultura</h2>
        <p>A empresa é fundamentada em valores de inovação, colaboração e respeito. Acreditamos que um ambiente inclusivo e dinâmico impulsiona a criatividade.</p>
      </div>
      <div class="card">
        <h1><i class="fa-solid fa-handshake"></i></h1>
        <h2>Conexão</h2>
        <p>Valorizamos as conexões que construímos, tanto internamente quanto com nossos clientes e parceiros. Acreditamos que relações fortes e colaborativas são a chave para o sucesso.</p>
      </div>
    </div>
  </div>
</div>
