<header class="header-page">
  <a class="logo" href="">
    <img class="logo-img" src="../../../assets/imagens/eurofarma-logo.png" alt="Eurofarma logo">
  </a>
  <nav class="header-menu">
    <ul class="ul-pc">
      <!-- Exibir os links apenas se o usuário não for gerente -->
      <li class="li-pc"><a class="a-pc-header a-header" [routerLink]="['/dashboard']">Geral</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li-pc"><a class="a-pc-header a-header" [routerLink]="['/lembretes']">Lembretes</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li-pc"><a class="a-pc-header a-header" [routerLink]="['/videos']">Vídeos</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li-pc"><a class="a-pc-header a-header" [routerLink]="['/pdfs']">Pdf</a></li>
      <li *ngIf="userRole == 'gerente'" class="li-pc"><a class="a-pc-header a-header" [routerLink]="['/gerente']">Gerencial</a></li>
      
      <!-- Sempre mostrar o ícone de usuário e logout -->
      <li class="li-pc">
        <a class="a-pc-header a-header" (click)="toggleLogoutPopup()"><i class="fa-regular fa-user"></i></a>
        <div *ngIf="showLogoutPopup" class="logout-popup">
          <button (click)="logout()">Sair</button>
        </div>
      </li>
    </ul>
  </nav>
</header>

<!-- Menu para celular -->
<div class="menu-celular">
  <input type="checkbox" id="chec">
  <label for="chec" class="label1">
    <h1 class="botao-menu"><i class="fa-solid fa-bars"></i></h1>
  </label>

  <nav class="header-celular">
    <input type="checkbox" id="chec">
    <label for="chec" class="label2">
      <h1 class="botao-menu-2"><i class="fa-solid fa-bars"></i></h1>
    </label>

    <ul class="celular-botoes">
      <!-- Exibir os links apenas se o usuário não for gerente -->
      <li class="li2 border-bottom"><a class='elemento-header' [routerLink]="['/dashboard']">Geral</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li2 border-bottom"><a class='elemento-header' [routerLink]="['/lembretes']">Lembretes</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li2 border-bottom"><a class='elemento-header' [routerLink]="['/videos']">Vídeos</a></li>
      <li *ngIf="userRole !== 'gerente'" class="li2 border-bottom"><a class='elemento-header' [routerLink]="['/pdfs']">Pdf</a></li>
      <li *ngIf="userRole == 'gerente'" class="li2 border-bottom"><a class='elemento-header' [routerLink]="['/gerente']">Gerencial</a></li>
      
      <!-- Sempre mostrar o ícone de usuário e logout -->
      <li class="li2 border-bottom">
        <a class="elemento-header" (click)="toggleLogoutPopup()"><i class="fa-regular fa-user"></i></a>
        <div *ngIf="showLogoutPopup" class="logout-popup">
          <button (click)="logout()">Sair</button>
        </div>
      </li>
    </ul>
  </nav>
</div>
